* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul, ol, dl, li {
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
}

.contact-us-right__phone, .social-right__link, .social-left__icon, .social-left__link, .copyright__link, .footer-socials__link, .footer-contact__link, .footer__link, .header-menu__link, .room__item, .phone--white, .phone, .social__item--white, .social__item, .switch__item--white, .switch__item, .accordion__button::after, .button_bordered, .button {
  transition: all 0.3s ease-out;
}

.contact-us-right__phone, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.light__title, .title-h5, .title-h4, .title-h3, .title-h2, .title-h1 {
  font-family: "Montserrat", Verdana, sans-serif;
}

.phone, .switch {
  border-radius: 50px;
  border: 2px solid #4D1299;
}

.phone--white, .switch--white {
  border-radius: 50px;
  border: 2px solid #FFFFFF;
}

html {
  font-size: 10px;
}

body {
  color: #1B1B1B;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 992px) {
  body {
    margin-bottom: 24px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.section_colored {
  background-color: #F4F4F8;
}

.section-light {
  background-color: #FFFFFF;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.hamburger__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #4D1299;
  transition: all 0.3s;
}

.hamburger {
  padding: 5px;
  box-sizing: content-box;
  position: relative;
  width: 27px;
  height: 18px;
  overflow: hidden;
  cursor: pointer;
}

.hamburger__line:nth-child(1) {
  opacity: 1;
}
.hamburger__line:nth-child(2) {
  top: calc(50% - 8px);
}
.hamburger__line:nth-child(3) {
  top: calc(50% + 8px);
}

.hamburger.is-active .hamburger__line:nth-child(1) {
  opacity: 0;
  transform: translateX(100%);
}

.hamburger.is-active .hamburger__line:nth-child(2) {
  top: 40%;
  transform: translateY(-50%);
  transform: rotate(45deg);
  background-color: #FFFFFF;
}

.hamburger.is-active .hamburger__line:nth-child(3) {
  top: 40%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}

.hamburger-menu__container {
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -41px;
  width: 45%;
  min-height: 570px;
  padding: 167px 40px 167px 40px;
  text-align: center;
  background-color: #4D1299;
  transform: translateX(100%);
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  .hamburger-menu__container {
    width: 70%;
    padding: 167px 70px 167px 70px;
  }
}
@media (max-width: 768px) {
  .hamburger-menu__container {
    padding: 167px 40px 167px 40px;
  }
}
@media (max-width: 640px) {
  .hamburger-menu__container {
    width: 100%;
    right: 0px;
    padding: 27px 15px 167px 15px;
  }
}

.hamburger-menu__container.is-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.hamburger-menu__top {
  display: none;
}
@media (max-width: 640px) {
  .hamburger-menu__top {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-bottom: 65px;
  }
}

.hamburger-menu__list {
  text-align: left;
  margin-bottom: 84px;
}

.hamburger-menu__item + .hamburger-menu__item {
  margin-top: 24px;
}

.hamburger-menu__link {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
}
.hamburger-menu__link:hover {
  color: #F4F4F8;
}
@media (max-width: 1024px) {
  .hamburger-menu__link {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .hamburger-menu__link {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.hamburger-menu__bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 640px) {
  .hamburger-menu__bottom {
    gap: 20px;
  }
}

.title-h1 {
  font-size: 5.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
  }
}
@media (max-width: 640px) {
  .title-h1 {
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
  }
}

.title-h2 {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
@media (max-width: 992px) {
  .title-h2 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .title-h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.title-h3 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.15;
}
@media (max-width: 992px) {
  .title-h3 {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.15;
  }
}
@media (max-width: 640px) {
  .title-h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.15;
  }
}

.title-h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 992px) {
  .title-h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.title-h5 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 992px) {
  .title-h5 {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .title-h5 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.light__title {
  display: inline-block;
  color: #EBE7F3;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 992px) {
  .light__title {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .light__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.text-accent {
  color: #4D1299;
}

.text-second-accent {
  display: inline-block;
  background-color: #ff8427;
  border-radius: 30px;
  padding: 0 5px;
}

.text-bold {
  font-weight: 700;
}

.semitransparent-text {
  color: rgba(27, 27, 27, 0.6);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-circle {
  position: relative;
  padding-left: 23px;
}
.list-circle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #4D1299;
}

.text-number {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #4D1299;
}

.button {
  display: inline-block;
  padding: 18px 26px;
  background-color: #4D1299;
  border-radius: 50px;
  border: 2px solid transparent;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
}
.button:hover {
  background-color: rgba(77, 18, 153, 0.6);
}
@media (max-width: 768px) {
  .button {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.button_bordered {
  display: inline-block;
  padding: 18px 26px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #4D1299;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #4D1299;
}
.button_bordered:hover {
  background-color: #4D1299;
  border-color: transparent;
  color: #FFFFFF;
}

.accordion__wrapper {
  padding: 60px;
  background-color: #EBE7F3;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .accordion__wrapper {
    padding: 72px 30px;
  }
}
@media (max-width: 640px) {
  .accordion__wrapper {
    padding: 32px 16px;
  }
}

.accordion__item {
  border-bottom: 2px solid #4D1299;
}

.accordion__input {
  display: block;
  appearance: none;
  width: 0;
  height: 0;
}
.accordion__input:checked ~ .accordion__content {
  display: block;
}
.accordion__input:checked ~ .accordion-header .accordion__button::after {
  opacity: 0;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.accordion__title {
  width: fit-content;
}

.accordion__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4D1299;
}
.accordion__button::before, .accordion__button::after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #FFFFFF;
}
.accordion__button::after {
  transform: rotate(90deg);
  opacity: 1;
}

.accordion__content {
  display: none;
  padding-bottom: 32px;
}

.accordion__text + .accordion__text {
  margin-top: 12px;
}

.switch {
  padding: 5px;
  display: flex;
  width: 128px;
  height: 40px;
}

.switch__item {
  padding: 3px 14px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.switch__item.active {
  background-color: #4D1299;
}
.switch__item.active .switch__link {
  color: #FFFFFF;
  pointer-events: none;
}
.switch__item:hover {
  background-color: #4D1299;
}
.switch__item:hover .switch__link {
  color: #FFFFFF;
}

.switch__link {
  color: #1B1B1B;
}

.switch--white {
  padding: 5px;
  display: flex;
  width: 128px;
  height: 40px;
}

.switch__item--white {
  padding: 3px 14px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.switch__item--white.active {
  background-color: #FFFFFF;
}
.switch__item--white.active .switch__link--white {
  color: #4D1299;
  pointer-events: none;
}
.switch__item--white:hover {
  background-color: #FFFFFF;
}
.switch__item--white:hover .switch__link--white {
  color: #4D1299;
}

.switch__link--white {
  color: #FFFFFF;
}

.social {
  display: flex;
  gap: 15px;
}
@media (max-width: 767px) {
  .social {
    display: none;
  }
}

.social__item {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.social__item:hover {
  transform: scale(1.1);
}

.social__icon {
  fill: #4D1299;
}

.social--white {
  display: flex;
  gap: 15px;
}
@media (max-width: 640px) {
  .social--white {
    gap: 5px;
  }
}

.social__item--white {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.social__item--white:hover {
  transform: scale(1.1);
}

.social__icon--white {
  fill: #4D1299;
}

.phone {
  min-width: 190px;
  height: 61px;
  padding: 18px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone:hover {
  transform: scale(1.1);
}

.phone__link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #4D1299;
}
@media (max-width: 1024px) {
  .phone__link {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.phone--white {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}
.phone--white:hover {
  transform: scale(1.1);
}

.phone__link--white {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #4D1299;
  display: block;
}

.advantages {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .advantages {
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-4__item {
  width: calc((100% - 96px) / 4);
}
@media (max-width: 992px) {
  .advantages-4__item {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 640px) {
  .advantages-4__item {
    width: 100%;
  }
}

.advantages-3__item {
  width: calc((100% - 96px) / 3);
}
.advantages-3__item:last-child {
  margin: 0 auto;
}
@media (max-width: 992px) {
  .advantages-3__item {
    width: calc((100% - 60px) / 2);
  }
}
@media (max-width: 640px) {
  .advantages-3__item {
    width: 100%;
  }
}

.advantages__image-wrapper {
  max-width: 100%;
}

.advantages-image {
  margin-bottom: 10px;
}

.advantages__title {
  margin-bottom: 8px;
  text-align: center;
}

.advantages__text {
  text-align: center;
}

.work {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .work {
    flex-direction: column;
  }
}

.work__item {
  padding: 40px;
  flex-basis: calc((100% - 40px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F4F4F8;
  border-radius: 30px;
}
@media (max-width: 640px) {
  .work__item {
    margin-bottom: 24px;
    flex-basis: 100%;
  }
}

.work__number {
  margin-bottom: 24px;
}

.work__title {
  margin-bottom: 16px;
}

.work__footer {
  color: rgba(27, 27, 27, 0.6);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work__room {
  margin-bottom: 48px;
}

.room-image__wrapper {
  max-width: 100%;
  display: none;
}

.room-wrapper-active {
  display: block;
}

.room__image {
  max-width: 100%;
}

.room-wrapper-1 {
  position: relative;
}

.room-wrapper-2 {
  position: relative;
}

.room-wrapper-3 {
  position: relative;
}

.room {
  padding: 6px;
  display: flex;
  border-radius: 50px;
  border: 2px solid #4D1299;
}

.room__item {
  flex-basis: 33.3333333333%;
  padding: 16px;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
}

.room__item-active {
  color: #FFFFFF;
  background-color: #4D1299;
}

.tooltip__wrapper {
  width: fit-content;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip__content {
  position: relative;
  padding: 7px 10px;
  border-radius: 5%;
  width: fit-content;
  background-color: #FFFFFF;
  margin-bottom: 18px;
  text-align: center;
}
.tooltip__content::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 12px solid #FFFFFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.tooltip__text {
  display: block;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1B1B1B;
  text-align: center;
}
@media (max-width: 768px) {
  .tooltip__text {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    line-height: 1;
  }
}

.tooltip__circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 18, 153, 0.3);
}
@media (max-width: 992px) {
  .tooltip__circle {
    width: 20px;
    height: 20px;
  }
}

.tooltip__icon {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4D1299;
}
.tooltip__icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 8px;
  width: 1px;
  background-color: #FFFFFF;
}
.tooltip__icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  content: "";
  height: 8px;
  width: 1px;
  background-color: #FFFFFF;
}
@media (max-width: 992px) {
  .tooltip__icon {
    width: 12.5px;
    height: 12.5px;
  }
}

.tooltip__content--bottom {
  position: relative;
  padding: 7px 10px;
  border-radius: 5%;
  width: fit-content;
  background-color: #FFFFFF;
  margin-top: 18px;
  text-align: center;
}
.tooltip__content--bottom::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 12px solid #FFFFFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.tooltip-kitchen-1__wrapper {
  position: absolute;
  top: 82%;
  left: 28%;
}
@media (max-width: 640px) {
  .tooltip-kitchen-1__wrapper {
    top: 70%;
    left: 20%;
  }
}

.tooltip-kitchen-2__wrapper {
  position: absolute;
  top: 45%;
  left: 36%;
}
@media (max-width: 640px) {
  .tooltip-kitchen-2__wrapper {
    top: 37%;
    left: 33%;
  }
}

.tooltip-kitchen-3__wrapper {
  position: absolute;
  top: 53%;
  left: 53%;
}

.tooltip-kitchen-4__wrapper {
  position: absolute;
  top: 36%;
  left: 71%;
}
@media (max-width: 640px) {
  .tooltip-kitchen-4__wrapper {
    top: 30%;
    left: 58%;
  }
}

.tooltip-kitchen-5__wrapper {
  position: absolute;
  top: 13%;
  left: 76%;
}
@media (max-width: 640px) {
  .tooltip-kitchen-5__wrapper {
    min-width: 30%;
    top: 8%;
    left: 69%;
  }
}

.tooltip-room-1__wrapper {
  position: absolute;
  top: 50%;
  left: 12%;
}
@media (max-width: 640px) {
  .tooltip-room-1__wrapper {
    top: 34%;
    left: 12%;
  }
}

.tooltip-room-2__wrapper {
  position: absolute;
  top: 81%;
  left: 24%;
}
@media (max-width: 640px) {
  .tooltip-room-2__wrapper {
    top: 68%;
    left: 15%;
  }
}

.tooltip-room-3__wrapper {
  max-width: 18%;
  position: absolute;
  top: 43%;
  left: 32%;
}
@media (max-width: 640px) {
  .tooltip-room-3__wrapper {
    top: 15%;
    left: 36%;
  }
}

.tooltip-room-4__wrapper {
  max-width: 15%;
  position: absolute;
  top: 3%;
  left: 46%;
}
@media (max-width: 640px) {
  .tooltip-room-4__wrapper {
    min-width: 36%;
    top: 0%;
    left: 38%;
  }
}

.tooltip-room-5__wrapper {
  max-width: 20%;
  position: absolute;
  top: 60%;
  left: 52%;
}
@media (max-width: 640px) {
  .tooltip-room-5__wrapper {
    min-width: 32%;
    top: 59%;
    left: 44%;
  }
}

.tooltip-room-6__wrapper {
  position: absolute;
  top: 31%;
  left: 65%;
}
@media (max-width: 640px) {
  .tooltip-room-6__wrapper {
    min-width: 28.5%;
    top: 1%;
    left: 71%;
  }
}

.tooltip-room-7__wrapper {
  max-width: 18%;
  position: absolute;
  top: 56%;
  left: 79%;
}
@media (max-width: 640px) {
  .tooltip-room-7__wrapper {
    min-width: 29.5%;
    top: 44%;
    left: 70%;
  }
}

.tooltip-bathroom-1__wrapper {
  max-width: 17%;
  position: absolute;
  top: 78%;
  left: 9%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-1__wrapper {
    top: 59%;
    left: 4%;
  }
}

.tooltip-bathroom-2__wrapper {
  max-width: 17%;
  position: absolute;
  top: 16%;
  left: 30%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-2__wrapper {
    top: 2%;
    left: 30%;
  }
}

.tooltip-bathroom-3__wrapper {
  max-width: 18%;
  position: absolute;
  top: 58%;
  left: 28%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-3__wrapper {
    top: 44%;
    left: 28%;
  }
}

.tooltip-bathroom-4__wrapper {
  max-width: 17%;
  position: absolute;
  top: 70%;
  left: 49%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-4__wrapper {
    top: 67%;
    left: 49%;
  }
}

.tooltip-bathroom-5__wrapper {
  max-width: 17%;
  position: absolute;
  top: 13%;
  left: 66%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-5__wrapper {
    top: 13%;
    left: 66%;
  }
}

.tooltip-bathroom-6__wrapper {
  max-width: 17%;
  position: absolute;
  top: 61%;
  left: 80%;
}
@media (max-width: 640px) {
  .tooltip-bathroom-6__wrapper {
    top: 49%;
    left: 80%;
  }
}

.discount {
  position: relative;
  padding: 100px 60px;
  background-color: #4D1299;
  border-radius: 30px;
}
.discount::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  content: "";
  display: block;
  width: 268px;
  height: 206px;
  rotate: -15deg;
  background-image: url(/img/discount_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .discount::after {
    top: 47%;
    right: 3%;
    width: 198px;
    height: 150px;
  }
}
@media (max-width: 640px) {
  .discount::after {
    width: 160px;
    height: 121px;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .discount {
    padding: 60px 30px;
  }
}
@media (max-width: 640px) {
  .discount {
    padding: 32px 25px;
    height: 321px;
  }
}

.discount__title {
  display: block;
  max-width: 540px;
}
@media (max-width: 992px) {
  .discount__title {
    max-width: 360px;
  }
}
@media (max-width: 640px) {
  .discount__title {
    margin: 0 auto;
  }
}

.subscribe {
  background-color: #EBE7F3;
  border-radius: 30px;
  padding: 88px 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .subscribe {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .subscribe {
    padding: 44px 20px;
  }
}

.subscribe__left {
  flex-basis: calc(50% - 20px);
}
@media (max-width: 992px) {
  .subscribe__left {
    width: 100%;
    margin-bottom: 54px;
  }
}

.subscribe__title {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .subscribe__title {
    margin-bottom: 16px;
  }
}

.subscribe__list {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .subscribe__list {
    margin-bottom: 16px;
  }
}

.subscribe__item + .subscribe__item {
  margin-top: 8px;
}
@media (max-width: 992px) {
  .subscribe__item + .subscribe__item {
    margin-bottom: 5px;
  }
}

.subscribe__description {
  position: relative;
  color: #4D1299;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 64px;
}
.subscribe__description::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -6px;
  display: block;
  width: 53px;
  height: 50px;
  background-image: url(/img/subscribe_gift.png);
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .subscribe__description {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.subscribe__right {
  flex-basis: calc(50% - 20px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .subscribe__right {
    width: 100%;
  }
}

.subscribe__price {
  margin-bottom: 8px;
  color: #4D1299;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subscribe-price__description {
  margin-bottom: 36px;
  max-width: 400px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__button {
  padding: 18px 95px;
}
@media (max-width: 640px) {
  .subscribe__button {
    padding: 15px 60px;
  }
}

.help {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .help {
    flex-direction: column-reverse;
  }
}

.help-image__wrapper {
  flex-basis: 30%;
}
@media (max-width: 640px) {
  .help-image__wrapper {
    width: 100%;
  }
}

.help__image {
  width: 100%;
}

.help__content {
  padding-left: 55px;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 640px) {
  .help__content {
    width: 100%;
    padding-left: 15px;
  }
}

.help__title {
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .help__title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.15;
  }
}
@media (max-width: 640px) {
  .help__title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.15;
  }
}

.help__item + .help__item {
  margin-top: 16px;
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.feedback__item {
  width: calc((100% - 80px) / 3);
  height: fit-content;
  padding: 28px 24px;
  background-color: #F4F4F8;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .feedback__item {
    width: calc((100% - 40px) / 2);
  }
}
@media (max-width: 640px) {
  .feedback__item {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .feedback__item:nth-child(3) {
    margin-top: -4.5%;
  }
}
@media (max-width: 768px) {
  .feedback__item:nth-child(3) {
    margin-top: -8.5%;
  }
}
@media (max-width: 640px) {
  .feedback__item:nth-child(3) {
    margin-top: 0;
  }
}
.feedback__item:nth-child(4) {
  margin-top: -8.5%;
}
@media (max-width: 992px) {
  .feedback__item:nth-child(4) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .feedback__item:nth-child(5) {
    order: 6;
  }
}
.feedback__item:nth-child(6) {
  margin-top: -6.5%;
}
@media (max-width: 992px) {
  .feedback__item:nth-child(6) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .feedback__item:nth-child(6) {
    margin-top: -2%;
  }
}
@media (max-width: 640px) {
  .feedback__item:nth-child(6) {
    margin-top: 0;
  }
}

.feedback-item__title {
  margin-bottom: 8px;
}

.feedback-image__wrapper {
  margin-bottom: 16px;
}

.wrapper {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #F4F4F8;
  padding: 23px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 45px;
}
@media (max-width: 640px) {
  .logo {
    margin-right: 65px;
  }
}

.header__middle {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .header__middle {
    display: none;
  }
}

.header__menu {
  display: inline-flex;
  gap: 50px;
  margin-right: 62px;
}
@media screen and (max-width: 1130px) {
  .header__menu {
    margin-right: 15px;
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header-menu__link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #1B1B1B;
}
.header-menu__link:hover {
  color: #4D1299;
}

.header-social {
  margin-right: 40px;
}
@media screen and (max-width: 1130px) {
  .header-social {
    margin-right: 15px;
  }
}

.footer {
  background-color: #EBE7F3;
  padding: 60px 0 16px 0;
}

@media (max-width: 1024px) {
  .footer__wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .footer__wrapper {
    padding: 0 20px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 109px;
}
@media (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
  }
}

.footer__menu {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}

.footer__title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.menu__item + .menu__item {
  margin-left: 100px;
}
@media (max-width: 1024px) {
  .menu__item + .menu__item {
    margin-left: 0;
  }
}

.footer__item {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
@media (max-width: 640px) {
  .footer__item {
    width: 50%;
    min-width: 150px;
  }
}

@media (max-width: 640px) {
  .footer-item-services {
    order: 3;
    width: 100%;
    margin-top: 34px;
  }
}

.footer-item-services .footer__link {
  display: block;
  width: 300px;
}

.footer__link {
  color: #1B1B1B;
}
.footer__link:hover {
  color: #4D1299;
}
@media (max-width: 1024px) {
  .footer__link {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer-contact__link {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #4D1299;
}
.footer-contact__link:hover {
  color: rgba(77, 18, 153, 0.6);
}

.footer-socials__list {
  display: flex;
  gap: 16px;
}

.footer-socials__link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.footer-socials__link:hover {
  transform: scale(1.1);
  background-color: #F4F4F8;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  display: flex;
  gap: 50px;
}
@media (max-width: 640px) {
  .footer__copyright {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}

.copyright__link {
  display: inline-block;
}
.copyright__link:hover {
  color: rgba(77, 18, 153, 0.6);
}

.hero {
  padding: 141px 0 194px 0;
  background-image: url(/img/hero_bg.png);
  background-repeat: no-repeat;
  background-position: 112% 20%;
  background-size: 60%;
}
@media (max-width: 992px) {
  .hero {
    padding: 72px 0;
    background-size: 100%;
    background-position: 112% 40%;
  }
}
@media (max-width: 768px) {
  .hero {
    background-size: 100%;
    background-position: 112% 35%;
  }
}
@media (max-width: 640px) {
  .hero {
    padding: 32px 0 64px 0;
    background-position: 112% 22%;
  }
}

.hero-top {
  margin-bottom: 250px;
}
@media (max-width: 992px) {
  .hero-top {
    height: 1000px;
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .hero-top {
    height: 800px;
  }
}
@media (max-width: 640px) {
  .hero-top {
    height: 700px;
  }
}

.hero__content {
  max-width: 678px;
}
@media (max-width: 768px) {
  .hero__content {
    max-width: 470px;
  }
}
@media (max-width: 640px) {
  .hero__content {
    max-width: 400px;
  }
}

.hero__title {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 16px;
  }
}

.hero__text {
  max-width: 604px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .hero__text {
    margin-bottom: 24px;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 640px) {
  .hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.cleaning {
  padding: 116px 0;
}

.cleaning__title {
  margin-bottom: 64px;
}

.cleaning__list {
  margin-bottom: 148px;
}

.package {
  padding: 114px 0;
}
@media (max-width: 992px) {
  .package {
    padding: 72px 0;
  }
}
@media (max-width: 640px) {
  .package {
    padding: 64px 0;
  }
}

.package__title {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .package__title {
    margin-bottom: 8px;
  }
}

.package__subtitle {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 657px;
  margin: 0 auto 48px;
}
@media (max-width: 992px) {
  .package__subtitle {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 568px;
  }
}

.package__subscribe {
  margin-bottom: 48px;
}

.package__discount {
  margin-bottom: 57px;
}

.package__help {
  margin-bottom: 146px;
}
@media (max-width: 992px) {
  .package__help {
    margin-bottom: 62px;
  }
}
@media (max-width: 640px) {
  .package__help {
    margin-bottom: 16px;
  }
}

.package__advantages {
  margin-bottom: 95px;
}
@media (max-width: 992px) {
  .package__advantages {
    margin-bottom: 56px;
  }
}
@media (max-width: 640px) {
  .package__advantages {
    margin-bottom: 40px;
  }
}

.package__button {
  margin: 0 auto;
  display: block;
  width: fit-content;
}

.feedback {
  margin: 116px 0;
}

.feedback__title {
  margin-bottom: 64px;
}

.feedback-section__list {
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .feedback-section__list {
    margin-bottom: 48px;
  }
}

.feedback__buttons {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .feedback__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback__button + .feedback__button {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .feedback__button + .feedback__button {
    margin-left: 0;
    margin-top: 16px;
  }
}

.about-us {
  padding: 116px 0 164px 0;
}
@media (max-width: 992px) {
  .about-us {
    padding: 64px 0;
  }
}

.trust {
  padding: 116px 60px;
  border-radius: 30px;
  background-color: #EBE7F3;
  overflow: hidden;
}
@media (max-width: 992px) {
  .trust {
    padding: 72px 30px;
  }
}
@media (max-width: 768px) {
  .trust {
    padding: 64px 24px;
  }
}

.trust__title {
  margin-bottom: 64px;
}

.trust__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 64px;
}
@media (max-width: 640px) {
  .trust__list {
    flex-direction: column;
  }
}

.trust__item {
  position: relative;
  z-index: 20;
  flex-basis: calc((100% - 40px) / 2);
  padding: 40px;
  background-color: #F4F4F8;
  border-radius: 30px;
}
@media (max-width: 640px) {
  .trust__item {
    width: 100%;
  }
}
.trust__item:nth-child(3) {
  position: relative;
}
.trust__item:nth-child(3)::after {
  position: absolute;
  left: -8%;
  bottom: -24%;
  content: "";
  display: block;
  width: 157px;
  height: 157px;
  background-image: url(/img/trust_brush.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-5deg);
}
@media (max-width: 640px) {
  .trust__item:nth-child(3)::after {
    left: -8%;
    top: 179%;
  }
}
.trust__item:nth-child(4) {
  position: relative;
  z-index: 10;
}
.trust__item:nth-child(4)::before {
  position: absolute;
  top: -28%;
  right: -17%;
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  background-image: url(/img/trust_sponge.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 20;
}
@media (max-width: 640px) {
  .trust__item:nth-child(4)::before {
    top: -150%;
    right: -17%;
  }
}

.trust__number {
  margin-bottom: 24px;
}

.trust-item__title {
  margin-bottom: 16px;
}

.trust__button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.questions {
  padding-top: 116px;
}
@media (max-width: 992px) {
  .questions {
    padding-top: 72px;
  }
}
@media (max-width: 640px) {
  .questions {
    padding-top: 64px;
  }
}

.questions__title {
  margin-bottom: 64px;
}

.questions__accordion {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .questions__accordion {
    margin-bottom: 56px;
  }
}
@media (max-width: 640px) {
  .questions__accordion {
    margin-bottom: 48px;
  }
}

.question-accordion__button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.contact-us {
  padding: 116px 0;
}

.contact-us__title {
  margin-bottom: 64px;
}
@media (max-width: 640px) {
  .contact-us__title {
    margin-bottom: 48px;
  }
}

.contact-us__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .contact-us__list {
    flex-direction: column;
  }
}

.contact-us__item {
  flex-basis: calc((100% - 160px) / 2);
}

.contact-us__left {
  padding: 40px 40px 40px 140px;
}
@media (max-width: 992px) {
  .contact-us__left {
    flex-basis: 43%;
    padding-left: 25px;
  }
}

.contact-us-left__title {
  margin-bottom: 16px;
}

.contact-us-left__text {
  margin-bottom: 32px;
}

.contact-us-left__button {
  margin-bottom: 13px;
}

.contact-us-left__social {
  display: flex;
  gap: 16px;
}

.social-left__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBE7F3;
}
.social-left__link:hover {
  background-color: #FFFFFF;
}
.social-left__link:hover .social-left__icon {
  fill: rgba(77, 18, 153, 0.6);
}

.social-left__icon {
  fill: #4D1299;
}

.contact-us__right {
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
@media (max-width: 992px) {
  .contact-us__right {
    flex-basis: 57%;
    padding: 15px;
  }
}

.contact-us-right__title {
  max-width: 420px;
  text-align: center;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .contact-us-right__title {
    max-width: 330px;
  }
}

.contact-us-right__list {
  margin-bottom: 32px;
}

.contact-us-right__social {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.social-right__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBE7F3;
}
.social-right__link:hover {
  background-color: #FFFFFF;
}
.social-right__link:hover .social-right__icon {
  fill: rgba(77, 18, 153, 0.6);
}

.social-right__icon {
  fill: #4D1299;
}

.contact-us-right__text {
  margin-bottom: 16px;
}

.contact-us-right__phone {
  color: #4D1299;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-us-right__phone:hover {
  color: rgba(77, 18, 153, 0.6);
}

.order {
  position: relative;
  padding: 60px;
  border-radius: 30px;
  background-color: #4D1299;
}
@media (max-width: 640px) {
  .order {
    padding: 32px 16px;
    background-image: url(/img/order_bucket.png);
    background-repeat: no-repeat;
    background-position: 94% 36%;
  }
}
.order::before, .order::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.order::before {
  background-image: url(/img/order_bg_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0%;
  left: 1%;
}
@media (max-width: 992px) {
  .order::before {
    background-size: 30%;
    top: 0%;
    left: 1%;
  }
}
@media (max-width: 640px) {
  .order::before {
    background-size: 0;
  }
}
.order::after {
  background-image: url(/img/order_bg_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0%;
  right: -67%;
}
@media (max-width: 992px) {
  .order::after {
    background-size: 30%;
    bottom: -17%;
    right: -72%;
  }
}
@media (max-width: 640px) {
  .order::after {
    background-size: 0;
  }
}

.order__title {
  margin: 0 auto;
  display: block;
  max-width: 737px;
  text-align: center;
  margin-bottom: 36px;
}
@media (max-width: 992px) {
  .order__title {
    max-width: 490px;
    margin-bottom: 56px;
  }
}

.order__price {
  color: #EBE7F3;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order__text {
  color: #EBE7F3;
  max-width: 400px;
  margin: 0 auto 36px;
  text-align: center;
}

.order__button {
  display: block;
  margin: 0 auto;
  padding: 18px 90px;
  background-color: #F4F4F8;
  width: fit-content;
}
.order__button:hover {
  background-color: #EBE7F3;
  color: rgba(77, 18, 153, 0.6);
}
@media (max-width: 640px) {
  .order__button {
    padding: 16px 26px;
  }
}

/*# sourceMappingURL=style.css.map */
