$color-accent: #4D1299;
$color-background:  #F4F4F8;
$color-background-dark: #EBE7F3;
$color-light: #FFFFFF;
$color-text: #1B1B1B;
$color-text-light: rgba(27, 27, 27, 0.60);
$color-accent-light: rgba(77, 18, 153, 0.60);
$color-second-accent: #ff8427;
$color-accent-extra-light: rgba(77, 18, 153, 0.30);

$content-width: 1190px;
$extra-large: 1024px;
$large: 992px;
$medium: 768px;
$small: 640px;
$extra-small: 375px;