.feedback {
  margin: 116px 0;
}
.feedback__wrapper {
}
.feedback__title {
  margin-bottom: 64px;
}
.feedback-section__list {
  margin-bottom: 60px;
  @include media-small {
    margin-bottom: 48px;
  }
}
.feedback__buttons {
  width: fit-content;
  margin: 0 auto;
}
.feedback__button {
  @include media-small {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.feedback__button + .feedback__button {
  margin-left: 16px;
  @include media-small {
    margin-left: 0;
    margin-top: 16px;
  }
}
