.package {
  padding: 114px 0;
  @include media-large {
    padding: 72px 0;
  }
  @include media-small {
    padding: 64px 0;
  }
}
.package__wrapper {
}
.package__title {
  margin-bottom: 16px;
  @include media-large {
    margin-bottom: 8px;
  }
}
.package__subtitle {
  @include font;
  text-align: center;
  max-width: 657px;
  margin: 0 auto 48px;
  @include media-large {
    @include font($size: 1.6rem);
    max-width: 568px;
  }
}
.package__subscribe {
  margin-bottom: 48px;
}

.package__discount {
  margin-bottom: 57px;
}



.package__help {
  margin-bottom: 146px;
  @include media-large {
    margin-bottom: 62px;
  }
  @include media-small {
    margin-bottom: 16px;
  }
}


.package__advantages {
  margin-bottom: 95px;
  @include media-large {
    margin-bottom: 56px;
  }
  @include media-small {
    margin-bottom: 40px;
  }
}

.package__button {
  margin: 0 auto;
  display: block;
  width: fit-content;
}
