.accordion__wrapper {
  padding: 60px;
  background-color: $color-background-dark;
  border-radius: 30px;
  @include media-large {
    padding: 72px 30px;
  }
  @include media-small {
    padding: 32px 16px;
  }
}
.accordion {
  
}
.accordion__item {
  border-bottom: 2px solid $color-accent;
}
.accordion__label {
}
.accordion__input {
  display: block;
  appearance: none;  
  width: 0;
  height: 0;
  &:checked ~ .accordion__content {
    display: block;
  }
  &:checked ~ .accordion-header .accordion__button::after {
    opacity: 0;
  }
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}
.accordion__title {
  width: fit-content;
}
.accordion__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-accent;
  &::before, &::after {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 2px;
    background-color: $color-light;
  }
  &::after {
    transform: rotate(90deg);
    opacity: 1;
    @extend %transition;
  }
}
.accordion__content {
  display: none;
  padding-bottom: 32px;
}
.accordion__text {

}
.accordion__text + .accordion__text {
  margin-top: 12px;
}
